input,
select,
textarea {
    max-width: none;
}

.uploaded-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: right;
    position: relative;
    bottom: 55px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

@media only screen and (max-width: 991px) {
    .align-image-upload {
        display: -webkit-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: auto;
        justify-content: center;
        flex-flow: wrap;
    }

    .uploaded-image {
        position: unset;
        bottom: unset;
    }

    .uploaded-image-div {
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }
}

.align-image-upload {
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: auto;
    justify-content: center;
    flex-flow: wrap;
}

.img-with-text {
    display: inline-block;
    text-align: center;
    width: 150px;
}

    .img-with-text img {
        display: block;
        margin: 0 auto;
    }

    .img-with-text a {
        text-align: center;
    }


