body, html{
    height: 100%;
    margin: 0;
}
body {
    padding-top: 55px;
    padding-bottom: 20px;
}

.price-shadow {
    -moz-box-shadow: inset 0 0 4px #000000;
    -webkit-box-shadow: inset 0 0 4px #000000;
    box-shadow: inset 0 0 1px 1px #000000 ;
}

.store-banner {
 
    height: 10vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: white 0px -2px 10px inset;
}

.product-card-bg {
    background-color: rgba(23, 162, 184, 0.14);
    background-image: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.18));
    box-shadow: white 10px 10px 20px inset;
}
.store-banner-text {
    transform: translate(0%,50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

@media screen and (min-width: 601px) {
    .product {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .product, .product-discript {
        font-size: 4vw;
    }

}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
