@model ShoppingCartDemo.Models.ViewModel.CategoryViewModel

@Html.ActionLink("All","Store", "Home", null,
    new { @class = "btn btn-block btn-default btn-outline-info product" +
    (Model.CurrentCategory == null ? " active btn-lg" : "")})

@foreach(var link in Model.Categories)
{
    @Html.RouteLink(link, new
{
    controller = "Home",
    action="Store",
    category = link,
    page =1
}, new { @class = "btn btn-block btn-outline-info product" + 
    (link == Model.CurrentCategory ? " active btn-lg" : "")})
}

<div class="btn-o"></div>