@model IEnumerable<string>

@Html.ActionLink("All","Store", "Home", null,
    new { @class = "btn btn-block btn-default btn-outline-info btn-lg" })

@foreach(var link in Model)
{
    @Html.RouteLink(link, new
{
    controller = "Home",
    action="Store",
    category = link,
    page =1
}, new { @class = "btn btn-block btn-outline-info btn-lg" })
}

<div class="btn-o"></div>