@using ShoppingCartDomain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Shopping cart display";
}
<h2>@ViewBag.Title.</h2>

@foreach(var product in Model)
{
    <div>
        <h3>@String.Format(product.Name): @String.Format("{0:C}", product.Price)</h3>
    </div>
}



@section Scripts{

}