@model ShoppingCartDemo.Models.ShoppingCart

@{
    ViewBag.Title = "Shopping cart display";
}
<h2>@ViewBag.Title.</h2>

<h3>Product total can be found with:</h3>
<p>Model.Sum(p => p.Price) : @Model.Sum(prod => prod.Price)</p>
<h1>OR</h1>
<p>Model.CartTotal(): @Model.CartTotal()</p>
